<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="AdminLoginPage.css">
  <title>Admin Login Page</title>
</head>
<body>
    <!-- <a href="#"><img src="C:\Users\Asus\Desktop\Frontend\TAX MANAGEMENT SYSTEM\Logo.png" alt="logo"></a> -->
    <header>
        
      <div class="logo">
        <a href="#"><img src="finallogo.png" alt="logo"></a>
        
      </div>
  
      <div class="button">
        <a href="#" class="btn btn-1">Sign up</a>
        <a href="#" class="btn btn-2">Sign in</a>
  
      </div> 
    </header>
   
  <div class="container">
    <div class="image">
      <a href="#"><img src="signupimage.jpg" alt="image"></a>
    </div>
  
  <div class="signup-box">

    <h2>SIGN IN</h2>

    <hr class="h">
    <form>
      <label>Username</label>
      <input type="text" place holder="">

      <label>Password</label>
      <input type="text" place holder="">
    </form>
    <div class="remember">
        <input type="checkbox" id="checkbox">
        <label for="checkbox">Remember Me</label>
        <div class="forgotPassword"> 
        <a href="#" class="btn-3">Forgot Password?</a>
 </div>
        
    </div>
      <a href="#" class="btn btn-4">Login</a> 
  </div>
</div>
</body>
</html>
