<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password </title>

    <link rel="stylesheet" href="ResetP1.css">
</head>
<body>
    <header>
        
        <div class="logo">
          <a href="#"><img src="finallogo.png" alt="logo"></a>
          
        </div>
    
        <div class="button">
          <a href="#" class="btn btn-1">Sign up</a>
          <a href="#" class="btn btn-2">Sign in</a>
    
        </div> 
      </header>
     
      
  <div class="reset-box">
    <h2>Reset Password</h2>
    <hr class="h">
    <form>
      <label>Password*</label>
      <input type="text" place holder="">
      <label>Confirm Password*</label>
      <input type="text" place holder="">
    
    </form>
    <div class="resetbutton">
      <a href="#" class="btn btn-4">Reset Password</a> 
      </div> 
   

</body>
</html>
