*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body{
      font-family:Arial, Helvetica, sans-serif;
      
    }
    
    .manageadmin-table{
      width: 750px;
      height: 600px;
      padding: 5px;
      margin: 2% auto;
      text-align: center;
      background-color: white;
      border: 2px solid black;
      margin-left: 425px;
     
    }
    
    h1{
      text-align: top;
      padding-top: 5px;
      margin-top: 20px;
    }
    
    hr {
       border-bottom: 1px solid black; 
       width: 100%;
       margin-top: 20px;
    }
    /*manage admin table section */
   .admintable{
    margin-top: 40px;
    text-transform: capitaliz;
    border: 2px solid black;
    height: 80%;

    /* width: 750px;
      height: 600px;
      padding: 5px;
      margin: 2% auto;
      text-align: center;
      background-color: white;
      border-radius: 20px;
      border: 2px solid black;
      margin-left: 425px; */

   }
   .admin-table {
    width: 100%;
    /* border: 2px solid black;
    height: 80%; */
    padding: 10px;
    margin-top: 5px;
    background: white;
    /* border-radius: 10px; */
    box-shadow: 0 20px 35px black(0,0,0,0.1);
    /* border: 2px solid black; */
    border-color: black;
   }
   .admin-table h4{
    font-size: 15px;
    margin-right: 700px;
    margin-bottom: -20px;
   }
   .table{
    border-collapse: collapse;
    margin:20px 0;
    font-size: 15px;
    /* min-width :100%; */
    overflow:hidden;
    border-color: black;
    /* border-radius: 5px 5px 0 0; */
     border: 2px solid black;
     width: 100%;
    
   }
   
   .table thead tr{
    color: rgb(7, 7, 7);
    background: rgb(131, 191, 231);
    text-align:left;
    font-weight: bold;
    height: 50%;
   
   }
   .table th,
   .table td{
    padding: 12px 15px;
   }

   .table tbody tr{
    border-bottom: 1px solid black
   }

   .table tbody tr:nth-last-of-type(even){
    background: white;
   }
   .table tbody tr.active{
     font-weight: bold;
     color: rgb(132, 164, 200);
   }

   /* .table tbody tr:last-of-type{
    border-bottom: 2px solid rgb(154, 199, 250);;
   } */

